/* *{
  border:1px solid black;
  
} */



.links a {
  display:flex;
  /* this removes the line under our links */
  text-decoration: none;
  color: black;
  align-self:flex-end;
  flex-grow:1;
  gap:8px;
}

ul {
  color: rebeccapurple;
  list-style-type: none;
  display:flex;
  margin:0;
  padding:0;
  align-self: center;
  gap:16px;
}

.header{
  display:flex;
  justify-content:space-between;
  /* margin-left:48px;
  margin-right:48px; */
  padding: 0 48px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header .logo {
  font-size:24px;
  font-weight:bold;
}

/* part 1 */

/* .body1{
  display:flex;
  flex-direction: column;
  justify-content:center;
  margin:0;
  padding:0;
  

}  */


/* .header2{
  display:flex;
    flex-flow: row wrap;
  font-size:32px;
  min-height:auto;
  margin:0;
  flex:1;
} */

/* .text{
  display:flex;
  flex-flow: row wrap;
  flex-basis:350px;
  max-width:400px;
  max-height:75px;
  flex:1;


}

.button{
  display:flex;
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
  width:96px;
}

.chessimg{
  display:inline-block;
  width:300px;
  height:300px;
  border:5px solid red;
}

.container{
  font-family: Roboto, sans-serif;
  margin: 0;
  color: #333;
  display: flex;
  flex-flow:row wrap;
  justify-content:space-between;
  padding: 48px 48px;
} */

.hero0 {
display:flex;
flex-flow:row wrap;
align-content:center;
justify-content: space-between;
padding:48px;
}

.hero0 .hero {
  display:flex;
  flex-direction: column;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-self:center;
}

.hero .heroHeader{
  font-weight:900;
  font-size:48px;
  width:400px;
}

.hero .heroInfo{
  width:400px;
}

.hero .button{
  margin-top: 8px;
  display:flex;
  border: none;
  border:1px solid white;
  border-radius: 8px;
  background: black;
  color: white;
  padding: 8px 24px;
  width:105px;
  font-weight:bold;
}

.hero0 img {

}



/* 
part 2 
*/

.container2{
  flex-basis:auto;
  display:flex;
  /* flex-direction: column;  */
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
}

/* .container2 .headerB{
  justify-content: center;
  align-items: center;
}

.containerB{
  width:220px;
  height:250px;
  align-self:flex-start;
  text-align: center;
  margin-right: 52px;
}


.imgcontainer{
  border:2px solid red;
  border-radius: 25%;
  padding: 0px;
  overflow: hidden;
  height: 220px;
}

.container2 .text{
  display:flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
} */

/* .containerB{
  width:200px;
  align-self:flex-start;
  text-align: center;
  margin-right: 52px;
} */

.color {
  background-color: #cfc4c4;
  padding:20px;
  padding-bottom:60px;
}

.flex {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-basis:auto;
  display:flex;
  /* flex-direction: column;  */
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

.flex .title{
  justify-content: center;
  align-items: center;
  font-family:sans-serif;
  margin-bottom:20px;
  font-style:Roboto;
  font-weight:900;
  font-size:36px;
  color:#1F2937
}

.flex p {
  flex: 1 1 auto;
  align-self:center;
  justify-content:center;
  font-size:16px;
}

.flex img {
  border-radius:25px;
  border:2px solid black;
}

.containerpart2{
  width:170px;
  height:170px;
  align-self:flex-start;
  text-align: center;
margin: 0;
}

/*
part 3
*/

.quote0{
  display:flex;
  justify-content:center;
  background-color: #E5E7EB;

}
.quote{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 100px 0;
  display:flex;
  flex-direction:column;
  align-items: center;
  width:500px;
  background-color: #E5E7EB;
}
.quote .quoteText{
  font-size:36px;
  font-style:  italic;
  font-weight:100;
  align-self:center;
}

.quote .quotedPerson{
  font-weight:bold;
  align-self:flex-end;
}

/*
part 4
*/

.SignUp{
  padding:100px 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.SignUpForm{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 8px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:40px;
  background-color: black;
  width:800px;
}

.SignUpForm .SignUpInfo{
  align-self:column;
  margin-left:10px;
}

.SignUpForm .button{
  margin-right:40px;
  display:flex;
  border: none;
  border:1px solid white;
  border-radius: 8px;
  background: black;
  color: white;
  padding: 8px 24px;
  width:105px;
  font-weight:bold;
}

.SignUpInfo .Action{
  font-weight:bold;
  color:white;
}

.SignUpInfo .ActionInfo{
  color:white;

}

.footer {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 72px;
  background: #eee;
  color: black;
  display:flex;
  justify-content:center;
  align-items: center;


}

.footer a{
  text-decoration: none;
  color: blue;
}

